## editors
/.idea
/.vscode
.editorconfig

## system files
.DS_Store
/.storybook
/couchdb

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/deployapp/dist

storybook-static
custom-elements.json
